body{
    font-family: 'Varela Round', sans-serif;
}
*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
button{
    font-family: Arial, Helvetica, sans-serif;
}
.containr{

    width: 80%;
    margin: auto;
}
.header{

position: fixed;
width: 100%;
z-index: 3;
}
.header .logo{
    width: 40%;
    float: left;
}
.header .nav{
    width: 60%;
    float:left;
    list-style: none;
    text-align: right;
    
}
.clear{
    clear: both;
}
.header .logo img{

    width: 25%;
}
.header .nav > li{
    display: inline-block;
    text-align: right;
}
.header .nav > li > a{
    text-decoration: none;
    font-size: 15px;
    color: white;
    padding: 30px 15px;
    display: block;

}
.header .nav > li > a.active:after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #6195ff;
    transition: width .5s;

}
.header .nav > li > a:after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #6195ff;
    transition: width .5s;


}
.header .nav > li > a:hover:after{
    width: 100%;
}
.dropdown{
    position: relative;
}
.dropdown-menu{
    position: absolute;
    background: #6195ff;
    width: 150px;
    text-align: center;
    left: -50%;
    top: 70%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s , visibility 0.5s;
    
}
.dropdown-menu a{

    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
}
.dropdown:hover .dropdown-menu{
 opacity: 1;
 visibility: visible;
}

.home{
    height: 100vh;
    background-image: url(../images/background/background1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.7);
}
.home .home-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 65%;
}
.home .title{
    color: white;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
.home .home-desc{
    margin: 20px 0;
    color: white;
    letter-spacing: 2px;
    line-height: 1.5;
}
.home .btn{
    width: 140px;
    padding: 15px 0;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-size: 15px;
}
.home .get-start{
    margin-right: 10px;
    background-color: white;
}
.home .learn-more{
    background-color: #6195ff;
    color: white;
}
.opacity{
transition: opacity .5s;
}
.opacity:hover{
    opacity: 0.8;
}
.sectoin-header{
    text-align: center;
    margin-bottom: 10px;
}
.sectoin-header .section-title{
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 8px;
}
.sectoin-header .line{
    display: block;
    height: 3px;
    width: 60px;
    background-color: #6195ff;
    margin: 0 auto 70px auto;


}
.pd-y{

    padding: 120px 0;
}
.about-content{
    overflow: hidden;
}
.about-item{
    width: 30%;
    float: left;
    text-align: center;
    border: 1px solid #e8e8e8;
    padding: 50px 20px;
}
.about-item.mg{
    margin: 0 5%;
}
.about-item .icon{
    color: #6195ff;
    margin-bottom: 10px;
}
.about-item-title{
    text-transform: capitalize;
    margin-bottom: 10px;
    transition: color 0.5s;
}
.about-item-desc{
    line-height: 1.6;
    margin-bottom: 10px;
    color: #999;
}
.about-item-link{
    color: #6195ff;
    text-transform: capitalize;
    text-decoration: none;
}
.ltr-effect{
    position: relative;
}
.ltr-effect:after{
    position: absolute;
    content: "";
    width: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    transition: width .5s;
    z-index: -1;


}
.ltr-effect:hover:after{
    width: 100%;
    
}
.about-item:hover .about-item-title{
    color: #fff;
}
.portofolio{
    background-color: #f9f9f9;
}
.portofolio-content{
    overflow: hidden;
}
.portofolio-item{
    width: 32%;
    float: left;
    margin-bottom: 70px;
    position: relative;
    padding: 20px;
}
.portofolio-item .layer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}
.portofolio-item:hover .layer{
    opacity: 1;
    visibility: visible;
}
.portofolio-item img{
    width: 100%;
}
.portofolio-item.mg{
    margin: 0 2%;
}
.layer .info{
    position: absolute;
    
    left: 50%;
    top: 50%;
    width: 80%;
    text-align: center;
    transform: translate(-50%,-50%);
}
.layer .catagery{

    color: #6195ff;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    position: relative;
    top: 10px;
    transition: top 0.5s;
    transition-delay: 0.2s;
}
 .layer-content{
    color: #fff;
    font-size: 15px;
    margin-bottom: 10px;
    position: relative;
    top: 10px;
    transition: top 0.5s;
    transition-delay: 0.3s;


}
.layer a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #6195ff;
    color: #fff;
    position: relative;
    top: 10px;
    transition: top 0.5s;
    transition-delay: 0.4s;
  
}
.layer a i {
    line-height: 40px;
}
.portofolio-item:hover .layer-content,
.portofolio-item:hover .layer a,
.portofolio-item:hover .layer .catagery{
    top: 0;
}
.offer-item-content{
    overflow: hidden;
}
.offer-item{
    width: 30%;
    float: left;
    margin-bottom: 20px;
    border: 1px solid #e8e8e8;
    padding: 30px 15px 30px 70px;
    position: relative;
}
.offer-item .icon{
    position: absolute;
    left: 15px;
    top: 32px;
    color: #6195ff;

}
.offer-item.mg{
    margin: 0 5%;
}
.offer-item-title{
    text-transform: capitalize;
    margin-bottom: 15px;
    transition: color 0.5s;
}
.offer-item-desc{
    text-transform: capitalize;
    margin-bottom: 15px;
    line-height: 1.6;
    color: #999;
}
.offer-item:hover .offer-item-title{
    color: #fff;
}
.ser{
    background-color: #f9f9f9;
}
.ser-item{
    width: 50%;
    float: left;
}
.ser-item .sectoin-header{
    text-align: left;
}
.ser-item .sectoin-header .line{
    margin: 0 0 40px;
}
.ser-item-desc{
    padding-right: 20px;
    color: #999;
    line-height: 1.4;
    font-size: 17px;
    margin-bottom: 20px;
}
.ser-list{
    list-style: none;
}
.ser-list li{
    margin-bottom: 10px;
    color: #999;
}
.ser-list li i{
    border: 1px solid #6195ff;
    color: #6195ff;
    width: 30px;
    height: 30px;
    padding: 7px;
    border-radius: 50%;
}
.ser-item-img img{
    width: 100%;
}
.ser-bol{
    list-style: none;
    text-align: center;
}
.ser-bol li{
    width: 10px;
    height: 10px;
    background-color: #999;
    border-radius: 50%;
    display: inline-block;
    margin: 8px 3px;
}
.ser-bol li.active{
 background-color: #6195ff;
}
.ser-bol li:hover{
    background-color: #6195ff;
}
.num{
    position: relative;
    background-image: url(../images/background/background2.webp);
    height: 300px;
    background-size: cover;
    background-attachment: fixed;
}
.num-itemes{
    overflow: hidden;
    padding: 100px 0;
}
.num-iteam{
    width: 25%;
    float: left;
    text-align: center;
}
.num-iteam .icon{
    color: #fff;
    margin-bottom: 15px;
}
.num-iteam .num-title{
    font-size: 25px;
    color: #fff;

}
.num-iteam .num-text{
    color: #fff;
}
.price-plan{
    overflow: hidden;
}
.price-item{
    width: 30%;
    float: left;
    padding: 40px 15px;
    border: 1px solid #e8e8e8;
    text-align: center;

}
.price-item.mg{
    margin: 0px 5%;
}
.price-text{
    text-transform: uppercase;
    font-size: 17px;
    color: #999;
    transition: color .5s;
}
.ball{
    width: 120px;
    height: 120px;
    padding: 20px 0;
    margin: 20px auto;
    border: 3px solid #6195ff;
    border-radius: 50%;
    transition: color .5s;
}
.ball .ball-info{
    font-size: 40px;
}
.ball .ball-time{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}
.price-list{
    list-style: none;
}
.price-list li{
    color: #999;
    line-height: 1.8;

}
.price-but{
    background:none;
    border: 0;
    display: block;
    width: 140px;
    border: 2px solid #6195ff;
    padding: 10px;
    margin: 15px auto 0 auto;
    color: #6195ff;
}
.tb-effect{
    position: relative;
}
.tb-effect:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    transition: height .5s;
    z-index: -1;


}
.tb-effect:hover:after{
    height: 100%;
    
}
.price-item:hover .ball{
    color: #fff;
}
.price-item:hover .price-text{
    color: #6195ff;
}
.backup{
    position: relative;
    background-image: url(../images/background/background3.webp);
    height: 400px;
    background-attachment: fixed;
    background-size: cover;
}
.backup-content{
    overflow: hidden;
    padding: 120px 0;
    width: 80%;
    margin: auto;
}
.backup-item{
    width: 50%;
    float: left;
    color: #fff;
}
.backup-item .backup-top{
    padding: 10px 2px 40px 100px;
    position: relative;
}
.backup-item .backup-top img{
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 50%;
}
.backup-item .backup-top h3{
margin: 5px 0;

}
.backup-item .backup-top span{
    color: #6195ff;
}
.backup-desc{
    line-height: 1.5;
    font-size: 17px;
}
.team-content{
    overflow: hidden;
}
.team-item{
    width: 30%;
    float: left;
    /* background-color: #e8e8e8; */
    padding: 40px 20px;
    text-align: center;
}
.team-item .team-img{
    width: 90%;
    margin: auto;
    position: relative;
}
.team-item .team-img img{
    width: 100%;
}
.team-info .team-title{
    color: #222;
    margin: 10px 0;
    transition: color .5s;
}
.team-info .team-desc{
    color: #999;
    text-transform: uppercase;
    font-weight: 14px;
    transition: color .5s;
}
.team-overlay{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
}
.team-overlay a{
    display: block;
    width: 40px;
    height: 40px;
    background-color: #6195ff;
     
    color:#fff;
    margin-left: auto;
    
}
.team-overlay a i{
    line-height: 40px;
}
.team-item:hover .team-overlay{
    opacity: 1;
    visibility: visible;
}
.team-item ..tb-effect{
    z-index: 1;
}
.team-item:hover .team-title{
    color: white;
}
.team-item:hover .team-desc{
    color: #6195ff;
}
.team-item.mg{
    margin: 0 5%;
}
.recent{
    background-color: #f8f8f8;
}
.recent-content{
    overflow: hidden;
}
.recent-item{
    width: 30%;
    float: left;
    background-color: #fff;
}
.recent-item.mg{
    margin: 0 5%;
}
.recent-img img{
    width: 100%;
}
.recent-list{
    list-style: none;
    margin: 10px 0;

}
.recent-list li{
    display: inline-block;
    margin: 0 5px;
}
.recent-info{
    padding: 20px;
}
.recent-list i{
    color: #6195ff;
}
.recent-title{
    font-weight: bold;
    margin: 20px 0;
}
.recent-desc{
    color: #999;
    margin-bottom: 20px;
    line-height: 1.5;

}
.recent-link{
    text-decoration: none;
    color: #6195ff;
}
.get-content{
    overflow: hidden;
}
.get-item{
    width: 30%;
    float: left;
    text-align: center;
}
.get-item.mg{
    margin: 0 5%;
}
.get-item i{
    color: #6195ff;
    margin-bottom: 20px;
}
.get-item h3{
    margin-bottom: 20px;
}
.get-item p{
    font-size: 15px;
    color: #999;
}
.btnf button{
    width: 140px;
    height: 40px;
    background-color: #6195ff;
    color: #fff;
    border:1px solid #6195ff;
    font-size: 15px;
    transition: opacity 0.5s;
}
.btnf{
    text-align: center;
}
.btnf button:hover{
    opacity: 0.8;
}
.foter{
    background-color: #1c1d21;
    text-align: center;
    padding: 60px 0;
}
.foter-link{
    list-style: none;
    margin: 20px 0;
}
.foter-link li{
    display: inline-block;
}
.foter-link li a{
    display: block;
    width: 40px;
    height: 40px;
    background-color: #6195ff;
    color: #fff;
    margin: 0 5px;
    border-radius: 30%;
    
}
.foter-link li a i{
    line-height: 40px;
}
.foter .foter-desc{
    color: #999;
    font-size: 15px;
    text-transform: uppercase;
}
